* {
  &,
  &::before,
  &::after {
    margin: unset;
    padding: unset;
    box-sizing: unset;
  }
  & {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-align: y mandatory;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "poppins";
  font-size: 14px;
  color: #333;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
