@mixin grid-auto($width, $grid-gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
  grid-gap: $grid-gap;
}

@mixin grid-fixed($fr, $grid-gap) {
  display: grid;
  grid-template-columns: repeat($fr, 1fr);
  grid-gap: $grid-gap;
}

.grid-system {
  @include grid-auto(300px, 20px);
}

.grid-item {
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.165);
}

.navigation-tabs .nav {
  @include grid-fixed(3, 20px);
  padding: 10px;

  > div {
    text-align: center;
    cursor: pointer;
  }
}

.universities {
  @include grid-auto(180px, 12px);
  padding: 10px;
  margin-bottom: 10px;
}
 