@mixin card($padding, $display) {
  padding: $padding;
  display: $display;
  height: auto;
}

/* THE CARD */
.card {
  @include card(var(--default-space_2), grid);
  width: 100%;
  margin: 0 auto;

  &__image {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
