header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 6rem;

  background-color: white;
  box-shadow: 0 0px 15px var(--soften__baseColor);
  color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 900;
}
