.header-nav {
  display: flex;
  ul {
    list-style: none;
    display: none;

    li {
      white-space: nowrap;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 20px;
      }

      a{
          padding: 20px;
      }
    }
    @media (min-width: 620px) {
      display: flex;
    }
  }

  @media (min-width: 620px) {
    .menu {
      display: none;
    }
  }
}
