section {
  position: relative;
  padding: var(--default-space);
  height: 100%;

  &:first-child {
    height: calc(100vh - 6rem);

    background-image: url("/JAMB/public/images/Jamb-2-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--baseColor);
    background-blend-mode: soft-light;

    > div {
      max-width: 600px;
      margin: auto;
      padding-top: 2rem;
      color: #fff;

      h3 {
        font-size: 1.75rem;
        line-height: 1.2;
        margin-bottom: var(--default-space);

        @media (min-width: 620px) {
          font-size: 2rem;
        }
      }

      p {
        text-transform: lowercase;
        line-height: 1.6;
      }
    }
  }

  &.news {
    background-color: var(--soften__baseColor);
  }

  button {
    padding: 20px;
    background: var(--baseColor);
    font-family: inherit;
  }
}

.section {
  &-title {
    text-align: center;
  }
}
