@mixin cards($padding, $content_width, $grid-gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($content_width, 1fr));
  grid-gap: $grid-gap;
  height: auto;
  width: 100%;
  padding: $padding;
}

.wrapper {
  padding: var(--default-space);
}

.service-cards {
  @include cards(var(--default-space), 320px, var(--default-space));
}

.news-cards {
  @include cards(var(--default-space), 250px, var(--default-space));
}
