.custom-loader {
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  .loader {
    width: 10em;
    height: 10em;
    border-top: 1em solid yellow;
    border-right: 1em solid transparent;
    animation: loader 0.8s linear infinite;
    border-radius: 50%;
    margin: auto;
  }
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
