.swipe-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: var(--soften__baseColor);
  cursor: pointer;

  &::after {
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    position: absolute;

    content: "";
    background: var(--soften__baseColor);
    transition: var(--default-transition);
    transform: scale(0);
  }

  &:hover::after {
    transform: scale(1);
  }

  i {
    font-size: 2rem;
  }
}
